@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "sans-serif";
}

.container {
    width: 768px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid grey;
}

.header .container nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 35px 0px 35px 0;
}

.header .container nav ul li a {
    text-decoration: none;
    color: #435993;
}

.header .container nav ul li {
    font-size: 16px;
}

.personal_info {
    text-align: center;
    padding-top: 100px;
}

.personal_info h1 {
    font-weight: 300;
    font-size: 72px;
    margin-bottom: 70px;
}

.personal_info .form p {
    margin-top: 30px;
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 30px;
}

.personal_info .form,
.placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.placeholder {
    width: 100%;
}

select #grey {
    color: #c8c8c8;
}

.form input[type="text"],
.placeholder input,
select,
option {
    font-size: 22px;
    padding-top: 15px;
    border-radius: 10px;
    border: 1px solid grey;
    margin-bottom: 30px;
    width: 100%;
    outline: none;
    color: black;
    text-align: center;
}

select,
option {
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}

.form select option {
    color: #435993;
}

.checkboxes {
    display: flex;
    justify-content: space-between;
}

.title_exp {
    text-align: center;
    margin: 50px 0 25px 0;
}

.title_exp p {
    font-weight: 300;
    font-size: 30px;
}

.title_exp img {
    margin-bottom: 25px;
}

.ch1,
.ch2,
.ch3 {
    font-size: 16px;
    margin-bottom: 30px;
}

.ch_item {
    margin-bottom: 5px;
}

.range {
    height: 80px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
}

.range .sliderValue {
    position: relative;
    width: 100%;
}

.range .sliderValue span {
    position: absolute;
    height: 45px;
    width: 380px;
    color: white;
    font-weight: 500;
    top: -40px;
    transform: translateX(-50%) scale(0);
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
    line-height: 55px;
    z-index: 2;
}

.range .sliderValue span.show {
    transform: translateX(-50%) scale(1);
}

.range .sliderValue span:after {
    position: absolute;
    content: "";
    height: 45px;
    width: 45px;
    background: red;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border: solid 3px #fff;
    z-index: -1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.range .field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.range .field .value {
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.range .field .value.left {
    left: -22px;
}

.range .field .value.right {
    right: -43px;
}

.range .field input {
    -webkit-appearance: none;
    height: 5px;
    background: #00b4db;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083b0, #00b4db);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
}

.range .field input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 2px;
    background: black;
    border-radius: 50%;
    border: 1px solid #664aff;
    cursor: pointer;
}

.skills {
    display: flex;
    justify-content: space-between;
}

.skills span {
    font-size: 13px;
    width: 200px;
    text-align: center;
}

.title_exp .exp_small {
    width: 300px;
    margin-top: 25x;
    font-size: 16px;
}

.form textarea {
    outline: none;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    resize: none;
    margin-bottom: 50px;
}

.about .form {
    text-align: center;
}

.form .submit {
    text-align: center;
    width: 200px;
    padding: 15px;
    font-size: 16px;
    background-color: #435993;
    color: white;
    border: 1px solid #435993;
    border-radius: 10px;
}

.show,
.hide {
    display: none;
}

.list_phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
    z-index: 1000;
}

.list_phone ul li a,
.hide {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.list_phone ul {
    margin-top: 50px;
}

.list_phone ul li {
    margin-bottom: 20%;
}

.hide {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
}

.show,
.hide {
    width: 50px;
    height: 50px;
    font-size: 50px;
    background: none;
    border: none;
    float: right;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .container {
        width: 90%;
    }
    .header {
        border-bottom: none;
    }
    .header .container .list {
        display: none;
    }
    .show {
        display: block;
        font-size: 35px;
    }
    .ch_item {
        margin-bottom: 10px;
        font-size: 13px;
    }
    .content-name {
        font-size: 15px;
    }
    .form input[type="text"],
    .placeholder input,
    select,
    option {
        margin-bottom: 20px;
    }
    .checkboxes {
        flex-wrap: wrap;
    }
    .personal_info .form p {
        margin-bottom: 35px;
        font-size: 25px;
    }
}

@media screen and (max-width:575px) {
    .container {
        width: 90%;
    }
    .personal_info h1 {
        font-weight: 300;
        font-size: 50px;
        margin-bottom: 39px;
    }
    .title_exp {
        margin: 25px 0 25px 0;
    }
    .ch_item {
        font-size: 11px;
    }
    .show {
        font-size: 25px;
    }
    .hide {
        font-size: 40px;
    }
}